.layout-body {
  max-width: 1418px;
}

#showcase {
  position: relative;
  background: url("../img/showcase.png") no-repeat center center/cover;
  min-height: 548px; }

.search-box {
  padding: 30px 62px;

}

.fw-bold {
  font-weight: 700 !important;
}

.search-title {
  font-size: 22px;
  margin-bottom: 34px;
}

p{
  margin:0;
}

.card-button .mask {
  top: 0;
  left: 0;
}

.card-button .hover-bar {
  top: 0;
  left: 0;
  width: 0;
  transition: .2s ease;
}

.overflow-hidden {
  overflow: hidden!important;
}

.card-button {
  cursor: pointer;
}

.card-button-background {
  height: 150px;
}


.card-button-background img {
    -o-object-fit: cover;
    object-fit: cover;
}

.card-button .card-title {
  top: 50%;
  transform: translateY(-50%);
  transition: .2s ease;
}

.footer {
  background-color: #E9E9E9;
}

.footer {
  font-weight: 400;
  font-size: 20px;
  color: #858282;
}

.search-button {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #ef9002;
}

.dot{
  position: absolute;
  top:50%;
  left:0;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: #20B2AA;
  /* transform: translateX(50%);  */
  transform: translateY(-50%);
}

.bg-main{
  background-color: rgb(36, 180, 193);
}

.primary-blue{
  background-color: #20B2AA;
}

.bg-main2{
  background-color: #2AC3C3;
}

.date{
  font-size:14px;
  color: #A7A7A7;
}

.search-bg{
  height: auto;
  min-height: 100vh;
  font-family: 微軟正黑體, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0, 0, 0, 0.35);
  background-blend-mode: multiply;
  background-image: url("../img/search_bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% center;
}

.layout-body-search{
  max-width: 1200px;
}

.subtle {
  cursor: pointer;
}

.venueCard {
  background-color: #bde8ec;
  transition: .3s ease;
  cursor: pointer;
}

.venueCard-status {
  right: -12px;
  top: -12px;
  z-index: 10;
}

.venueCard-status-open {
  border-radius: 4px;
}

.venueCard .icon-people {
  width: 16px;
  height: 18px;
}

.me-2 {
  margin-right: 0.5rem!important;
}

.px-6 {
  padding-right: 1.25rem!important;
  padding-left: 1.25rem!important;
}

.px-10 {
  padding-left: 6rem !important; 
  padding-right: 6rem !important; }

@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important; }
  .w-lg-50 {
    width: 50% !important; }
  .flex-lg-row {
    flex-direction: row !important; }
  .justify-content-lg-end {
    justify-content: flex-end !important; }

  .text-lg-left {
    text-align: start;
  }
  .mx-lg-1 { 
    margin-right: 0.25rem !important; }
  .px-lg-3 {
    padding-left: 1rem !important; 
    padding-right: 1rem !important; }
  .px-lg-5 {
    padding-left: 3rem !important; 
    padding-right: 3rem !important; }
  .px-lg-10 {
    padding-left: 6rem !important; 
    padding-right: 6rem !important; }
}

.break-word {
  word-break: break-all;
}

.search_page_venueCard {
  margin-bottom: 54px;
}

.pager .pager-item {
  width: 36px;
  height: 36px;
  color: #fff;
  background-color: #24b4c1;
  cursor: pointer;
}

li {
  list-style: none;
}

@media (min-width: 576px){
  .me-sm-6 {
      margin-right: 1.25rem!important;
  }
}

.bg-secondary{
  background-color: rgb(239,144,2) !important;
}

.rounded-2 {
  border-radius: 1rem!important;
}

.rounded-5{
  border-radius: 2.5rem!important;
}

.fs-5 {
  font-size: 1.25rem!important;
}

.text-secondary {
  color: rgb(239,144,2) !important;
}

.fs-4 {
  font-size: calc(1.275rem + .3vw)!important;
}

.text-cyan{
  color:rgb(36, 180, 193);
}

